<div class='row'>
  <div class='col-md-8 col-md-offset-2'>

<%= bootstrap_form_for @creature do |record| %>
<%= record.text_field :name %>
<%= record.text_field :description %>
<%= record.primary %>
<% end %>

  </div>
</div>