<div class='row'>
  <div class='col-md-8 col-md-offset-2'>

<%= link_to "&larr; back".html_safe, creatures_path %>

<div class="well">
  <p><%= @creature.name %></p>
  <p><%= @creature.description %></p>
  <p>Logged At: <%= @creature.created_at %></p>
</div>

  </div>
</div>




