<div class='row'>
  <div class='col-md-8 col-md-offset-2'>

<%= link_to "&larr; back".html_safe, tags_path %>

  <div class="well">
    <p><%= @tag.name %></p>
    <p>Creatures: <% @tag.creatures.each do |t| %> <%= link_to t.name, t %><%end%></p>
  </div>

  </div>
</div>
