/*body{
  background-image: url(http://i1138.photobucket.com/albums/n538/GraemeDewar/Beinn%20Udlaidh%20and%20Beinn%20Bhreac%20Liath/IMG_0715.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}*/

*= require bootstrap_form

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
